body {
    background-color: #FFCCCC; 
}

.main-page{
    display:flex;
    flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  text-align: center;
  padding: 50px 10px;
  color: black;
  font-size: 90px;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: 0.5s;
  background-color: #FFCCCC;
}

.hover-text {
  font-size: 20px;
  margin-left: 20px; 
  font-family: 'Cormorant Garamond', serif; 
  font-weight: lighter;

}

.tooltip {
  display: none;
  background-color: #000;
  color: #FFCCCC;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Cormorant Garamond', serif ;

}

.hover-text:hover + .tooltip {
  display: block;
}


.headerText {
  font-family: 'Dancing Script', cursive;
  font-size: 200px;
  text-align: center;
  transition: 0.5s;
}

.welcome{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    color: rgb(0, 0, 0);

}
.description{
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif; 
    font-weight: 400;
    color: black; 
    text-align: center;

}


#toggleButton, #hideButton {
    text-decoration: none;
    color: rgb(112, 108, 108);
    position: relative;
    display: inline;
}

.Presented{
    text-align:center;
    margin-top: 300px;
    font-size: 30px;
    align-items: center;
}


.video-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.missDior {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
}

.text1{
    font-family:  'Cormorant Garamond', cursive;
    font-size: 20px;
    text-align: center;
}
.learnMore a {
    text-decoration: none;
    color: black; 
    position: relative;
}

.learnMore a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #000;
    transition: width 0.5s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.learnMore a:hover::after {
    width: 100%;
}


* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



.sidepanel  {
  width: 0;
  position: fixed;
  height: 1000px;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 380px;
  font-family:  'Cormorant Garamond', cursive;
}

.sidepanel a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #FFCCCC;
  display: block;
  transition: 0.3s;
  font-family:  'Cormorant Garamond', cursive;

}

.sidepanel a:hover {
  color: white;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #FFCCCC;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  color: rgb(112, 108, 108);
}