body {
    background-color: #FFCCCC; 
}

.main-page{
    display:flex;
    flex-direction: column;
}

.welcome{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    color: rgb(0, 0, 0);

}
.description{
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif; 
    font-weight: 400;
    color: black; 
    text-align: center;

}


#toggleButton, #hideButton {
    text-decoration: none;
    color: rgb(112, 108, 108);
    position: relative;
    display: inline;
}

.Presented{
    text-align:center;
    margin-top: 300px;
    font-size: 30px;
    align-items: center;
}


.video-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.missDior {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
}

.text1{
    font-family:  'Cormorant Garamond', cursive;
    font-size: 20px;
    text-align: center;
}
.learnMore a {
    text-decoration: none;
    color: black; 
    position: relative;
}

.learnMore a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #000;
    transition: width 0.5s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.learnMore a:hover::after {
    width: 100%;
}

